.box-2 {
  height: 100% !important;
}
table {
    padding: 10em;
    border-collapse: collapse;
    border: 1px solid black;
}
td {
  width: 5em;
  height: 5em;
  vertical-align: top;
  padding: 0.25em;
  border: 1px solid black;
}
.today {
  background-color: aliceblue;
}