
.calendar {
  margin: auto;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
}
td {
  width: 3em;
  height: 3em;
  vertical-align: top;
  padding: 0.25em;
  border: 1px solid black;
}
.today {
  background-color: aliceblue;
}